@model IEnumerable<PlayBall.Models.NewPlayer>

@{
    ViewBag.Title = "Home Page";
}

<h2 class="jumbotron">Index</h2>
<div>
    <h1>NBA Players</h1>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.teamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.positionDesc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.teamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.positionDesc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.playerID })
            </td>
        </tr>
    }

</table>